
/*Animation*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


* {
	padding: 0;
	margin: 0;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
}
*:after,
*:before {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
@font-face {
	font-family: "Roboto";
	src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto Ligth";
	src: url(fonts/Roboto-Light.ttf);
}
.f-light {
	font-family: "Roboto Ligth";
	font-weight: 300;
}
@font-face {
	font-family: "Roboto Medium";
	src: url(fonts/Roboto-Medium.ttf);
}
.f-medium {
	font-family: "Roboto Medium";
	font-weight: 500;
}
@font-face {
	font-family: "Roboto Bold";
	src: url(fonts/Roboto-Bold.ttf);
	font-weight: bold;
}
.f-bold, strong, b {
	font-family: "Roboto Bold";
	font-weight: bold;
}
html,
body {
	-webkit-text-size-adjust: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
    line-height: 1.3;
	color: #000;
	background-color: #F7F8F9;
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	overflow-x: hidden;
}
body {
	min-width: 1200px;
}
.relative {
    position: relative;
}
.cfx:before,
.cfx:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.container {
	margin: 0 auto;
	max-width: 1177px;
	width: 100%;
	z-index: 1;
}

.nowrap {
	white-space: nowrap;
}
a {
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
}
img {
	outline: none;
	border: none;
}
.button {
	display: inline-block;
	text-align: center;
	line-height: 34px;
	font-family: "Roboto Ligth";
	font-weight: 300;
	font-size: 16px;
	color: #182848;
	border: 1px solid #182848;
	border-radius: 18px;
	background-color: transparent;
	cursor: pointer;
}





/*
 * icons
 */
.icon {
	width: 105px;
	height: 105px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(24, 40, 72, 0.1);
	border-radius: 50%;
}
.icon-light {
	background-color: rgba(255, 255, 255, 0.1);
}
.icon-star {
	background-image: url(images/icons/star.svg);
}
.icon-exchange {
	background-image: url(images/icons/exchange.svg);
}
.icon-migration {
	background-image: url(images/icons/migration.svg);
}
.icon-secure {
	background-image: url(images/icons/secure.svg);
}
.icon-buy-crypto {
  background-image: url(images/icons/buy-crypto.png)
}




/*
 * bg
 */
.bg {
	position: absolute;
	z-index: -1;
}

.bg-main {
	top: -40px;
	right: -60px;
}
.bg-features-1 {
	top: 800px;
    right: 310px;
    width: 110%;
}
.bg-features-2 {
    top: 1200px;
    right: -370px;
    width: 110%;
}
.bg-features-3 {
	top: 2000px;
    right: 302px;
    width: 110%;
}
.bg-features-4 {
top: 2850px;
right: -370px;
width: 110%;
}


.bg-features-1-1 {
	top: 1140px;
	right: -50px;
	width: 627px;
	height: 375px;
}
.bg-features-2-1 {
	top: 1930px;
	right: 610px;
	width: 627px;
	height: 375px;
}
.bg-features-3-1 {
	top: 2830px;
	right: 0;
	width: 627px;
	height: 375px;
}


.bg-features-1-1-crypto {
	top: 3600px;
	width: 627px;
	height: 375px;
}

/* index-1-test */
.bg-features-1-1-test {
	background: transparent url("images/features-1.png") no-repeat center;
	background-size: 100% 100%;
	top: 1140px;
	right: -50px;
	width: 627px;
	height: 375px;
}
.bg-features-2-1-test {
	background: transparent url("images/features-2.png") no-repeat center;
	background-size: 100% 100%;
	top: 1950px;
	right: 610px;
	width: 627px;
	height: 375px;
}
.bg-features-3-1-test {
	background: transparent url("images/features-3.png") no-repeat center;
	background-size: 100% 100%;
	top: 2830px;
	right: 0;
	width: 627px;
	height: 375px;
}


.bg-features-1-1-crypto-test {
	background: transparent url("images/features1.png") no-repeat center;
	background-size: 100% 100%;
	top: 3600px;
	width: 627px;
	height: 375px;
}
.gladych-preview {
		background: transparent url("images/gladych-preview.png") no-repeat center;
	background-size: 100% 100%;
	width: 400px;
    margin-right: 20px;
    height: 225px;
    float: left;
    margin-bottom: 20px;
}
/* index-1-test-end */

.bg-comments {
	right: -380px;
	top: -55px;
}

.bg-video {
	top: -50px;
	right: -570px;
	z-index: -10;
	opacity: 0.8;
}



/*
 * header
 */
.header {
	height: 110px;
}
.header-logo {
	margin-left: 20px;
}
.header-logo img {
	margin-left: -12px;
	/* margin-top: 5px; */
	display: inline-block;
}
.header-menu {
	position: absolute;
	top: 30px;
	left: 310px;
	text-align: left;
}


.header-menu-icons {
	position: absolute;
	top: 25px;
	left: 905px;
	text-align: left;
}

.header-menu-icons a + a {
	margin-left: 10px;
}

.header-menu a,
.header-menu-crypto a {
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
}
.header-menu a:hover,
.header-menu-crypto a:hover {
	text-decoration: underline;
}
.header-menu a + a,
.header-menu-crypto a + a {
	margin-left: 30px;
}

.header-menu-here {
	opacity: 0.5;
	text-decoration: none !important;
}



/*
 * main
 */
.main {
	padding-bottom: 95px;
	padding-top: 130px;
}
.main-title {
	width: 500px;
	line-height: 40px;
	font-size: 30px;
	color: #121010;
	margin-top: -10px;
	margin-left: 30px;
}
.main-subtitle {
	width: 480px;
	line-height: 20px;
	font-size: 19px;
	color: #121010;
	margin-top: 30px;
	margin-left: 30px;
}


.main-notebook {
		position: absolute;
	top: -90px;
	width: 750px;
	right: -90px;
	margin-top: 50px;
}
.main-notebook-test {
	position: absolute;
	top: -90px;
	width: 750px;
	right: -90px;
	margin-top: 50px;
	background: transparent url("images/mainnotebook.png") no-repeat center;
	background-size: 100% 100%;
	height: 429px;
}

.mobile-interfaces3 {
	position: relative;
	background: transparent url("images/interfaces3.png") no-repeat center;
	background-size: 100% 100%;
	margin-bottom: 100px;
	width: 1118px;
	height: 569px;
	top: -25px;
	margin: 0 auto;

}

.mobile-1,.mobile-2,.mobile-3,.mobile-4,.mobile-5 {
	background: none;
}


.mobile_interface {
	width: 60%;
	justify-content: center;
	margin-left: 240px;
	margin-top: 50px;
}
.main_icons {
	width: 500px;
	margin-top: 30px;
	margin-left: 0;
}

.main_icon {
	width: 130px;
	float: left;
	margin-right: 18px;
	text-align: center;
	font-size: 15px;
	opacity: 1;

}

.main_icon_image {
	height: 70px;
	opacity: 0.9;
}

/*
 * download
 */
.download-container {
	z-index: 2;
	padding-top: 60px;
}
.download {
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: 0 38px 50px rgba(34, 83, 139, 0.1);
	border-radius: 16px;
	height: 180px;
	padding-top: 30px;
}

.download-title-top {
	line-height: 67px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	padding-bottom: 10px;
}
.download-text {
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	color: #121010;
	padding-bottom: 20px;

}


.download-text-app {
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	color: #121010;
	padding-bottom: 20px;

}
.download-text-small {
	text-align: center;
	line-height: 19px;
	font-size: 16px;
	color: #121010;
	padding-bottom: 30px;
	margin-top: -130px;
}

.download-button-bottom {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}
.download-button-bottom .button {
	width: 150px;
}
.download-item {
	position: relative;
	display: inline-block;
	width: 225px;
	text-align: center;
}
.download-item-app {
	position: relative;
	display: inline-block;
	justify-content: center;
	width: 200px;
	text-align: center;
	cursor: pointer;
}


.download-item:after {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	height: 100px;
	width: 1px;
	background-color: #CCCCCC;
}
.download-item:first-child:after {
	content: none;
}
.download-item span {
	display: block;
}
.download-name {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	font-size: 18px;
	color: #CCCCCC;
}
.download-button-label {
	display: none !important;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
}
.download-button {
	display: inline-block !important;
	width: 150px;
	font-family: "Roboto";
	font-weight: normal;
}
.hash-torrent {
	opacity: 0.6;
}

.mobile-download-button {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 20px;    
}

.coin-page-title-text {
 width: 410px;
    line-height: 20px;
    font-size: 19px;
    color: #121010;
    margin-top: 20px;
    margin-left: 30px;
}
.coin-page-title {
width: 500px;
    line-height: 40px;
    font-size: 30px;
    color: #121010;
    margin-top: -10px;
    margin-left: 60px;

}
.coin-page-icon {
	position: absolute;
	 top: -75px;
    left: 179px
}
.coin-page-download-button {
	  height: 40px !important; 
    margin-top: 35px !important;
    margin-left: 106px !important;
    width: 210px !important;
    display: inline-block !important;
    padding: 4px 0px !important;
}
.download-item-img-color {
	display: none;
}
/*[data-download-type="windows"] .download-item-windows .download-button-label,*/
/*[data-download-type="apple"] .download-item-apple .download-button-label,*/
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-button-label,*/
/*[data-download-type="debian"] .download-item-debian .download-button-label,*/
/*[data-download-type="fedora"] .download-item-fedora .download-button-label,*/
.download-item:not(.download-not-hover):hover .download-button-label {
	display: block !important;
}
/*[data-download-type="windows"] .download-item-windows .download-name,*/
/*[data-download-type="apple"] .download-item-apple .download-name,*/
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-name,*/
/*[data-download-type="debian"] .download-item-debian .download-name,*/
/*[data-download-type="fedora"] .download-item-fedora .download-name,*/
.download-item:not(.download-not-hover):hover .download-name {
	display: none !important;
}

.download-item:not(.download-not-hover) {
	cursor: pointer;
}

.download-item-windows:not(.download-not-hover):hover .download-item-img
/*[data-download-type="windows"] .download-item-windows a,*/
/*[data-download-type="windows"] .download-item-windows .download-item-img*/
{ display: none !important; }
.download-item-windows:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="windows"] .download-item-windows .download-button-selected,*/
/*[data-download-type="windows"] .download-item-windows .download-item-img-color*/
{ display: inline-block !important; }

.download-item-apple:not(.download-not-hover):hover .download-item-img
/*[data-download-type="apple"] .download-item-apple a,*/
/*[data-download-type="apple"] .download-item-apple .download-item-img*/
{ display: none !important; }
.download-item-apple:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="apple"] .download-item-apple .download-button-selected,*/
/*[data-download-type="apple"] .download-item-apple .download-item-img-color*/
{ display: inline-block !important; }

.download-item-ubuntu:not(.download-not-hover):hover .download-item-img
/*[data-download-type="ubuntu"] .download-item-ubuntu a,*/
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-item-img*/
{ display: none !important; }
.download-item-ubuntu:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-button-selected,*/
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-item-img-color*/
{ display: inline-block !important; }

.download-item-debian:not(.download-not-hover):hover .download-item-img
/*[data-download-type="debian"] .download-item-debian a,*/
/*[data-download-type="debian"] .download-item-debian .download-item-img*/
{ display: none !important; }
.download-item-debian:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="debian"] .download-item-debian .download-button-selected,*/
/*[data-download-type="debian"] .download-item-debian .download-item-img-color*/
{ display: inline-block !important; }

.download-item-fedora:not(.download-not-hover):hover .download-item-img
/*[data-download-type="fedora"] .download-item-fedora a,*/
/*[data-download-type="fedora"] .download-item-fedora .download-item-img*/
{ display: none !important; }
.download-item-fedora:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="fedora"] .download-item-fedora .download-button-selected,*/
/*[data-download-type="fedora"] .download-item-fedora .download-item-img-color*/
{ display: inline-block !important; }

.download-item.download-not-hover .download-item-img { display: none !important; }
.download-item.download-not-hover .download-item-img-color { display: inline-block !important; }

.sign-up-download-link {
	color: #334C7F;
	text-decoration: underline;
}


/*
 * video
 */
.video .container {
	height: 657px;
	padding-top: 70px;
}
.video .container iframe {
	display: block;
	height: 100%;
	width: 100%;
}



/*
 * list
 */

.list1 {
	margin-top: 95px;
	padding-bottom: 0;
}
.list-items {
	margin-left: -44px;
}
.list-item {
	display: inline-block;
	vertical-align: top;
	width: 14%;
	padding-top: 25px;
	margin-top: 60px;
	text-align: center;
	position: relative;
}

.list-item-name {
	display: block;
	margin-top: 15px;
	font-size: 18px;
	color: #182848;
}




/*
 * features
 */
.features {
	padding-top: 30px;
}
.features-title {
	line-height: 67px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	margin-bottom: 40px;
	margin-top: 50px;
}
.features-title-app {
	line-height: 67px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	margin-bottom: 40px;
	margin-top: 270px;
}

.features-item {
	padding-top: 120px;
	color: #FFFFFF;
	clear: both;
	margin-left: 50px;
}

.features-item-right {
	float: right;
}
.features-item:nth-child(2) {
	margin-top: 356px;
	width: 405px;
}
.features-item:nth-child(3) {
    padding-top: 520px;
}
.features-item-title {
	font-size: 36px;
	margin-bottom: 25px;
	margin-top: 30px;
}

.features-text {
	font-size: 18px;
	line-height: 25px;
	width: 450px;
}
.features-text a {
	text-decoration: underline;
	font-family: "Roboto Bold";
	font-width: bold;
	color: #ffffff;
}

.features_icons {
	display: none;
	width: 600px;
	margin-top: 50px;
	margin-left: -35px;
	padding-bottom: 250px;
}


/*
 * video
 */
 .video {
 	height:750px;
 }

 .video-container{
 	width: 840px;
 	margin: auto;
 }

 .video-youtube {
 	width: 400px;
 	margin-right: 20px;
 	height: 225px;
 	float: left;
 	margin-bottom: 20px;
 }


/*
 * partners
 */
.partners {
	margin-top: 30px;
	position: relative;
}
.partners-list {


}


.partners_special {
  padding-bottom: 30px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-left: 200px;
}
.partners_special a {

}


.partners-list a {
	display: inline-flex;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
}
.partners-list a + a {
	padding-left: 90px;
	vertical-align: middle;
}



/*
 * comments
 */
.comments {
	padding-top: 100px;
}

.comments-arrows {
	height: 90px;
	margin-top: -20px;
}
/* Review */
.comments-arrows-reviews {
    height: 90px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    top: 7px;
    }
 .team div .comments-item-reviews {
        height: 311px;
      }
 .team .comments-slider-reviews {
 	height: 350px;
 }
/*  */
.comments-arrow {
	position: absolute;
	top: 0;
	height: 36px;
	width: 36px;
	background: transparent url(images/icons/arrow-right.svg) no-repeat center;
	border: 0;
	cursor: pointer;
}
.comments-arrow-right {
	right: 0;
}
.comments-arrow-right:disabled {
	background-image: url(images/icons/arrow-right-disabled.svg);
	cursor: auto;
}
.comments-arrow-left {
	right: 80px;
	background-image: url(images/icons/arrow-left.svg);
}
.comments-arrow-left:disabled {
	background-image: url(images/icons/arrow-left-disabled.svg);
	cursor: auto;
}
.comments-slider-label {
	overflow: hidden;
}
.comments-slider {
	height: 470px;
}

.comments-slider-list {
	display: inline-block;
	height: inherit;
	white-space: nowrap;

	-webkit-transition: margin-left .3s ease-in-out;
	-moz-transition: margin-left .3s ease-in-out;
	-ms-transition: margin-left .3s ease-in-out;
	-o-transition: margin-left .3s ease-in-out;
	transition: margin-left .3s ease-in-out;
}

.comments-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 337px;
	height: 345px;
	background: #FFFFFF;
	box-shadow: 0 8px 40px rgba(24, 40, 72, 0.1);
	border-radius: 8px;
	padding: 110px 24px 0 24px;
	text-align: center;
	white-space: normal;
	line-height: 1;
}
.reviews .comments-item {
	height: 337px;
    padding-top: 33px;
    margin-bottom: 20px;
}
.team .comments-slider {
	height: 540px;
}
.team .comments-item {
	height: 511px;
	padding: 15px 24px 0 24px;
}
/* .swiper-pagination-bullets {
	padding:  30px;
} */
.team-author {
	margin-bottom: 30px;
	text-align: center;
}
.team-author-avatar {
	display: inline-block;
	vertical-align: top;
	border-radius: 50%;
	
}
.team-author-name {
	margin-top: 7px;
	font-size: 18px;
	text-align: center;
	color: #182848;
}
.team-text {
	line-height: 25px;
	font-size: 14px;
	color: #000000;
	text-align: left;
}
.team-social {
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 0;
	height: 100px;
	border-top: 2px solid #8C8C8C;
	padding-top: 33px;
}
.team-social a + a {
	margin-left: 70px;
}
.comments-item + .comments-item {
	margin-left: 65px;
}
.comments-image {
	position: absolute;
	top: 27px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.comments-text {
	display: block;
	line-height: 32px;
	font-size: 20px;
	color: #182848;
	text-align: left;
}
.comments-text:hover {
	text-decoration: none;
}



/*
 * subscribe
 */
.subscribe {
	margin-top: 10px;
}
.subscribe-mobile .container {
	padding-left: 335px;
	height: 150px;
}
.subscribe-top {
	margin-top: 10px;
}
.kol-form-button-group {
    position: relative;
    top: -40px;
    right: -5px;
}
.subscribe .kol-form-button-group {
	position: relative;
    top: -58px;
    right: -230px;
}
.subscribe-mobile .kol-form-button-group {
	position: relative;
    right: -65px;
}

.subscribe-top .container{
	padding-left: 16px;
}
.subscribe .container {
	padding-left: 256px;
	height: 200px;
}

#kol_embed_container_229607 {
	width: 375px !important;
	height: 125px;
	padding-left: 10px;
}
.kol-form-title {
	font-size: 1.5em;
}

.subscribe .kol-form-title {
	line-height: 40px;
    font-size: 24px;
    color: #182848;
    margin-top: 140px;
    font-family: "Roboto Medium";
    font-weight: 500;
    padding-left: 5px;
    width: 600px;
}

.subscribe-mobile .kol-form-title {
	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 479px;

}
.kol_confirmation_message_wrapper  {
	text-align: center;
}
.kol_confirmation_message_wrapper p {
	padding-top: 25px;
}

/* form */
.subscribe-form {
	width: 600px;
	height: 140px;
	margin-top: 25px;
}
.form-group {
    margin-top: 5px;

}
.subscribe .form-group {
	margin-top: 25px;
}
.subscribe-mobile .form-group {
	margin-left: 55px;
}
.subscribe-form-top,
.kol_signup_form {
	width: 375px;
	height: 80px;
	margin-top: 5px;
}

.mc-field-group input[type="email"],
.subscribe .form-control {
	background: #FFFFFF;
	box-shadow: 0 8px 20px rgba(24, 40, 72, 0.16);
	border-radius: 8px;
	width: 341px;
	height: 60px;
	border: none;
	padding-left: 35px;
	font-size: 20px;
	font-family: "Roboto Ligth";
	font-weight: 300;
}

.mc-field-group-top input[type="email"],
.subscribe-mobile .form-control {
	background: #FFFFFF;
    /* box-shadow: 0 8px 20px rgba(24, 40, 72, 0.16); */
    border-radius: 8px;
    width: 220px;
    height: 40px;
    /* border: none; */
    border: 1px solid #182848;
    padding-left: 20px;
    font-size: 15px;
    font-family: "Roboto Ligth";
}
.subscribe-top .form-control {
	background: #FFFFFF;
    /* box-shadow: 0 8px 20px rgba(24, 40, 72, 0.16); */
    border-radius: 8px;
    width: 230px;
    height: 40px;
    /* border: none; */
    border: 1px solid #182848;
    padding-left: 20px;
    font-size: 15px;
    font-family: "Roboto Ligth";
}
.mc-field-group button,
.mc-field-group input[type="submit"],
.subscribe .kol-form-button {
	font-family: "Roboto Medium";
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	background: #182848;
	border-radius: 8px;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.kol-form-button {
    font-family: "Roboto Medium";
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #182848;
    border-radius: 8px;
    padding: 0 20px 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}





 

.footer-new {
	background: url(images/bg-footer-new.svg);
	background-position: center;
	background-size: cover;
	padding-top: 90px;
	padding-bottom: 125px;
}
.footer-row {
	display: flex;
	justify-content: space-between;
}
.footer-new-left {
	min-width: 500px;
}
.footer-new-right {
	width: 100%;
	font-size: 14px;
}
.footer-new-logo {
	margin-left: -20px;
}
.footer-new-email {
	display: inline-block;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #FFFFFF;
}
.footer-new-email:hover {
	text-decoration: underline;
}
.footer-new-soc a {
	display: inline-block;
	margin-right: 10px;
}
.footer-new-soc img {
	width: 34px;
	display: inline-block;
}
.footer-new-cols {
	display: flex;
	justify-content: space-between;
}
.footer-new-col-title {
	font-family: "Roboto Bold";
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.footer-new-col {
	padding-top: 50px;
}
.footer-new-col ul {
	list-style: none;
	padding: 0;
}
.footer-new-col li {
	margin-bottom: 8px;
}
.footer-new-col a {
	color: #C4C4C4;
}
.footer-new-col a:hover {
	color: #ffffff;
}


