.main {
	padding-top: 125px;
}
.main-title {
	line-height: 67px;
	font-size: 48px;
	color: #182848;
	text-align: center;
	width: 100%;
}
.main-notebook {
	top: 0;
	right: -370px;
}
.main-subtitle {
	width: 100%;
	line-height: 67px;
	font-size: 36px;
	color: #000000;
	margin-top: 50px;
}