
/*Animation*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


* {
	padding: 0;
	margin: 0;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
}
*:after,
*:before {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
@font-face {
	font-family: "Roboto";
	src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto Ligth";
	src: url(fonts/Roboto-Light.ttf);
}
.f-light {
	font-family: "Roboto Ligth";
	font-weight: 300;
}
@font-face {
	font-family: "Roboto Medium";
	src: url(fonts/Roboto-Medium.ttf);
}
.f-medium {
	font-family: "Roboto Medium";
	font-weight: 500;
}
@font-face {
	font-family: "Roboto Bold";
	src: url(fonts/Roboto-Bold.ttf);
	font-weight: bold;
}
.f-bold, strong, b {
	font-family: "Roboto Bold";
	font-weight: bold;
}
html,
body {
	-webkit-text-size-adjust: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
    line-height: 1.3;
	color: #000;
	background-color: #F7F8F9;
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	overflow-x: hidden;
}
body {
	min-width: 1200px;
}
.relative {
    position: relative;
}
.cfx:before,
.cfx:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.container {
	margin: 0 auto;
	max-width: 1177px;
	width: 100%;
	z-index: 1;
}

.nowrap {
	white-space: nowrap;
}
a {
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
}
img {
	outline: none;
	border: none;
}
.button {
	display: inline-block;
	text-align: center;
	line-height: 34px;
	font-family: "Roboto Ligth";
	font-weight: 300;
	font-size: 16px;
	color: #182848;
	border: 1px solid #182848;
	border-radius: 18px;
	background-color: transparent;
	cursor: pointer;
}


 .flex-item-p a,
  .token-list a {
    color: #2091fa;
  }
  a {
    color: unset;
  }
  .button-token {
    height: 32px;
    line-height: 30px;
    width: 140px;
    font-size: 18px;
    padding: 1px 15px 0;
    background: #2ca1fb;
    color: white;
    border-radius: 16px;
    margin: 0 auto;
    text-align: center;
  }
  .token-progress {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: .2px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .flex-container {
    display: flex;
    margin: 0 auto;
    
    flex-flow: row;
    justify-content: space-between;
    max-width: 1190px;
    width: 837px;
    flex-wrap: wrap;
  }
  p.token-information {
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .2px
  }
  .token-information-small {
    font-size: 14px;
  }
  .col-item {
    flex-flow: row !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    background-color: unset !important;
  }
  .flex-item-body-row {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .column {
    flex-flow: column;
    align-items: flex-start;
  }
  .flex-item {
    display: flex;
    align-items: flex-start;
    width: 400px;
    flex-flow: column;
    justify-content: end;
    padding: 30px;
    background-color: white;
    margin-bottom: 20px;
  }
  .flex-item-column {
        display: flex;
    align-items: flex-start;
    width: 100%;
    flex-flow: column;
    justify-content: end;
    padding: 30px;
    background-color: white;
    margin-bottom: 20px;
  }
  .flex-item-header {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: .3px;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    align-items: center;
    height: 43px;
  }
  .title-token {
        line-height: 67px;
    font-size: 3.5em;
    text-align: center;
    color: #182848;
    padding-bottom: 20px;
    width: 800px;
    margin: 0 auto;
  }
  .token-info {
    align-items: unset;
    height: 100%;
  }
  .token-item-parametrs {
    min-height: unset;
  }
  .title-token-medium {
            line-height: 50px;
    font-size: 2.5em;
    text-align: center;
    color: #182848;
    padding-bottom: 20px;
    width: 800px;
    margin: 0 auto;
  }
  .flex-item-header {
    display: flex;
    flex-flow: row;
    width: 100%;
    /*justify-content: space-between;*/
  }
  .flex-item-image img {
    width: 40px;
    height: 40px;
  }
  .flex-item-p {
      font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: .2px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .item-p {
    padding: 20px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: white;
    padding-left: 30px;
    line-height: unset;
  }
  .flex-item-p-main {
    color: #182848;
  }
  .flex-item-p-link {
        color: #2ba1fd;
    cursor: pointer;
  }
  .flex-item-image {
    padding-left: 20px;
  }
  .token-item {
    width: 317px;
  }
  .buy-coin-item-features > .buy-coin-button {
    height: 56px;
    min-width: 201px;
    max-width: 281px;
    position: relative;
    margin: 0 auto;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    background-color: #1b2c4e;
    border-radius: 4px;
    padding: 1em;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
  }
  .col-item-token:nth-child(2) {
    width: 95px;
  }
  .col-item-token:nth-child(3) {
    width: 364px;
  }






/*
 * bg
 */
.bg {
	position: absolute;
	z-index: -1;
}


.bg-main {
	top: -40px;
	right: -60px;
}







/*
 * header
 */
.header {
	height: 110px;
}
.header-logo {
	margin-left: 20px;
}
.header-logo img {
	margin-left: -12px;
	/* margin-top: 5px; */
	display: inline-block;
}
.header-menu {
	position: absolute;
	top: 30px;
	left: 310px;
	text-align: left;
}

.header-menu-icons {
	position: absolute;
	top: 25px;
	left: 905px;
	text-align: left;
}

.header-menu-icons a + a {
	margin-left: 10px;
}

.header-menu a,
.header-menu-crypto a {
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
}
.header-menu a:hover,
.header-menu-crypto a:hover {
	text-decoration: underline;
}
.header-menu a + a,
.header-menu-crypto a + a {
	margin-left: 30px;
}

.header-menu-here {
	opacity: 0.5;
	text-decoration: none !important;
}



/*
 * main
 */
.main {
	padding-bottom: 95px;
	padding-top: 130px;
}
.main-title {
	width: 500px;
	line-height: 40px;
	font-size: 30px;
	color: #121010;
	margin-top: -10px;
	margin-left: 30px;
}
.main-subtitle {
	width: 480px;
	line-height: 20px;
	font-size: 19px;
	color: #121010;
	margin-top: 30px;
	margin-left: 30px;
}



.main-notebook1 {
	position: absolute;
	top: -90px;
	width: 750px;
	right: -350px;
	margin-top: 50px;
}

.main_icons {
	width: 500px;
	margin-top: 30px;
	margin-left: 0;
}


.main_icon_image {
	height: 70px;
	opacity: 0.9;
}

.main_icon_text_small {
	font-size: 14px;
	line-height: 15px;
	opacity: 0.9;

}


/*
 * download
 */
.download-container {
	z-index: 2;
	padding-top: 60px;
}
.download {
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: 0 38px 50px rgba(34, 83, 139, 0.1);
	border-radius: 16px;
	height: 180px;
	padding-top: 30px;
}

.download-title {
	line-height: 67px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	padding-bottom: 10px;
}

.download-text {
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	color: #121010;
	padding-bottom: 20px;

}


.download-button-bottom {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}
.download-button-bottom .button {
	width: 150px;
}
.download-item {
	position: relative;
	display: inline-block;
	width: 225px;
	text-align: center;
}



.download-item:after {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	height: 100px;
	width: 1px;
	background-color: #CCCCCC;
}
.download-item:first-child:after {
	content: none;
}
.download-item span {
	display: block;
}
.download-name {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	font-size: 18px;
	color: #CCCCCC;
}
.download-button-label {
	display: none !important;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
}
.download-button {
	display: inline-block !important;
	width: 150px;
	font-family: "Roboto";
	font-weight: normal;
}
.hash-torrent {
	opacity: 0.6;
}


.download-item-img-color {
	display: none;
}
/*[data-download-type="windows"] .download-item-windows .download-button-label,*/
/*[data-download-type="apple"] .download-item-apple .download-button-label,*/
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-button-label,*/
/*[data-download-type="debian"] .download-item-debian .download-button-label,*/
/*[data-download-type="fedora"] .download-item-fedora .download-button-label,*/
.download-item:not(.download-not-hover):hover .download-button-label {
	display: block !important;
}
/*[data-download-type="windows"] .download-item-windows .download-name,*/
/*[data-download-type="apple"] .download-item-apple .download-name,*/
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-name,*/
/*[data-download-type="debian"] .download-item-debian .download-name,*/
/*[data-download-type="fedora"] .download-item-fedora .download-name,*/
.download-item:not(.download-not-hover):hover .download-name {
	display: none !important;
}

.download-item:not(.download-not-hover) {
	cursor: pointer;
}

.download-item-windows:not(.download-not-hover):hover .download-item-img
/*[data-download-type="windows"] .download-item-windows a,*/
/*[data-download-type="windows"] .download-item-windows .download-item-img*/
{ display: none !important; }
.download-item-windows:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="windows"] .download-item-windows .download-button-selected,*/
/*[data-download-type="windows"] .download-item-windows .download-item-img-color*/
{ display: inline-block !important; }

.download-item-apple:not(.download-not-hover):hover .download-item-img
/*[data-download-type="apple"] .download-item-apple a,*/
/*[data-download-type="apple"] .download-item-apple .download-item-img*/
{ display: none !important; }
.download-item-apple:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="apple"] .download-item-apple .download-button-selected,*/
/*[data-download-type="apple"] .download-item-apple .download-item-img-color*/
{ display: inline-block !important; }

.download-item-ubuntu:not(.download-not-hover):hover .download-item-img
/*[data-download-type="ubuntu"] .download-item-ubuntu a,*/
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-item-img*/
{ display: none !important; }
.download-item-ubuntu:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-button-selected,*/
/*[data-download-type="ubuntu"] .download-item-ubuntu .download-item-img-color*/
{ display: inline-block !important; }

.download-item-debian:not(.download-not-hover):hover .download-item-img
/*[data-download-type="debian"] .download-item-debian a,*/
/*[data-download-type="debian"] .download-item-debian .download-item-img*/
{ display: none !important; }
.download-item-debian:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="debian"] .download-item-debian .download-button-selected,*/
/*[data-download-type="debian"] .download-item-debian .download-item-img-color*/
{ display: inline-block !important; }

.download-item-fedora:not(.download-not-hover):hover .download-item-img
/*[data-download-type="fedora"] .download-item-fedora a,*/
/*[data-download-type="fedora"] .download-item-fedora .download-item-img*/
{ display: none !important; }
.download-item-fedora:not(.download-not-hover):hover .download-item-img-color
/*[data-download-type="fedora"] .download-item-fedora .download-button-selected,*/
/*[data-download-type="fedora"] .download-item-fedora .download-item-img-color*/
{ display: inline-block !important; }

.download-item.download-not-hover .download-item-img { display: none !important; }
.download-item.download-not-hover .download-item-img-color { display: inline-block !important; }

.sign-up-download-link {
	color: #334C7F;
	text-decoration: underline;
}


/*
 * video
 */
.video .container {
	height: 657px;
	padding-top: 70px;
}
.video .container iframe {
	display: block;
	height: 100%;
	width: 100%;
}



/*
 * list
 */
.list {
	margin-top: 205px;
	padding-bottom: 0;
}
.list1 {
	margin-top: 95px;
	padding-bottom: 0;
}
.list-items {
	margin-left: -44px;
}



/*
 * features
 */
.features {
	padding-top: 30px;
}
.features-title {
	line-height: 67px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	margin-bottom: 40px;
	margin-top: 50px;
}





/*
 * video
 */
 .video {
 	height:750px;
 }

 .video-container{
 	width: 840px;
 	margin: auto;
 }

 .video-youtube {
 	width: 400px;
 	margin-right: 20px;
 	height: 225px;
 	float: left;
 	margin-bottom: 20px;
 }


/*
 * partners
 */
.partners {
	margin-top: 30px;
	position: relative;
}
.partners-list {


}
.investors {
	padding-bottom: 70px;
	max-width: 799px;
	margin: 0 auto;


}
.investors a {
	display: inline-flex;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 20px;
}
.investors a + a {
	padding-left: 100px;
	vertical-align: middle;
}



.partners-list a {
	display: inline-flex;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
}
.partners-list a + a {
	padding-left: 90px;
	vertical-align: middle;
}


/*
 * subscribe
 */
.subscribe {
	margin-top: 10px;
}
.subscribe-mobile .container {
	padding-left: 335px;
	height: 150px;
}
.subscribe-top {
	margin-top: 10px;
}
.kol-form-button-group {
    position: relative;
    top: -40px;
    right: -5px;
}
.subscribe .kol-form-button-group {
	position: relative;
    top: -58px;
    right: -230px;
}
.subscribe-mobile .kol-form-button-group {
	position: relative;
    right: -65px;
}

.subscribe-top .container{
	padding-left: 16px;
}
.subscribe .container {
	padding-left: 256px;
	height: 200px;
}


.subscribe .kol-form-title {
	line-height: 40px;
    font-size: 24px;
    color: #182848;
    margin-top: 140px;
    font-family: "Roboto Medium";
    font-weight: 500;
    padding-left: 5px;
    width: 600px;
}



/* form */

.form-group {
    margin-top: 5px;

}
.subscribe .form-group {
	margin-top: 25px;
}
.subscribe-mobile .form-group {
	margin-left: 55px;
}
.subscribe-form-top,
.kol_signup_form {
	width: 375px;
	height: 80px;
	margin-top: 5px;
}

.mc-field-group input[type="email"],
.subscribe .form-control {
	background: #FFFFFF;
	box-shadow: 0 8px 20px rgba(24, 40, 72, 0.16);
	border-radius: 8px;
	width: 341px;
	height: 60px;
	border: none;
	padding-left: 35px;
	font-size: 20px;
	font-family: "Roboto Ligth";
	font-weight: 300;
}


.subscribe-top .form-control {
	background: #FFFFFF;
    /* box-shadow: 0 8px 20px rgba(24, 40, 72, 0.16); */
    border-radius: 8px;
    width: 230px;
    height: 40px;
    /* border: none; */
    border: 1px solid #182848;
    padding-left: 20px;
    font-size: 15px;
    font-family: "Roboto Ligth";
}
.mc-field-group button,
.mc-field-group input[type="submit"],
.subscribe .kol-form-button {
	font-family: "Roboto Medium";
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	background: #182848;
	border-radius: 8px;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.kol-form-button {
    font-family: "Roboto Medium";
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #182848;
    border-radius: 8px;
    padding: 0 20px 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}



.footer-new {
	background: url(images/bg-footer-new.svg);
	background-position: center;
	background-size: cover;
	padding-top: 90px;
	padding-bottom: 125px;
}
.footer-row {
	display: flex;
	justify-content: space-between;
}
.footer-new-left {
	min-width: 500px;
}
.footer-new-right {
	width: 100%;
	font-size: 14px;
}
.footer-new-logo {
	margin-left: -20px;
}
.footer-new-email {
	display: inline-block;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #FFFFFF;
}
.footer-new-email:hover {
	text-decoration: underline;
}
.footer-new-soc a {
	display: inline-block;
	margin-right: 10px;
}
.footer-new-soc img {
	width: 34px;
	display: inline-block;
}
.footer-new-cols {
	display: flex;
	justify-content: space-between;
}
.footer-new-col-title {
	font-family: "Roboto Bold";
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.footer-new-col {
	padding-top: 50px;
}
.footer-new-col ul {
	list-style: none;
	padding: 0;
}
.footer-new-col li {
	margin-bottom: 8px;
}
.footer-new-col a {
	color: #C4C4C4;
}
.footer-new-col a:hover {
	color: #ffffff;
}





@font-face {
	font-family: "NovaOval";
	src: url(fonts/NovaOval.ttf);
	font-weight: 400;
}

/*
 * main
 */
.main {
	padding-top: 125px;
	padding-bottom: 0;
}
.main-title-token {
	height: 500px;
}
.main-notebook {
	top: -10;
	right: -370px;
}
.main-subtitle {
	width: 100%;
	line-height: 23px;
	font-size: 16px;
	color: #000000;
	margin-top: 10px;
	width: 500px;
	margin-left: 0;
}

.main_icon_image {
	float: left;
	height: 200px;
	width: 70px;
}

.main_icons {
	margin-top: 30px;
	margin-left: 0px;
	width: 800px;
	margin-left: 0px;
}

.main_icon_text {
	float: left;
	margin-right: 18px;
	text-align: left;
	font-size: 18px;
	opacity: 1;
	height: 200px;
	width: 240px;
}

.main_icon_text_small {
	font-size: 14px;
	line-height: 16px;
	opacity: 0.6;

}


.download-container {
	padding-top: 0;
}
/*
 * list
 */
.list {
	/*-webkit-clip-path: ellipse(1782px 706px at 50% 50%);*/
	/*clip-path: ellipse(1782px 706px at 50% 50%);*/
	-webkit-clip-path: ellipse(1782px 486px at 50% 50%);
	clip-path: ellipse(1782px 486px at 50% 50%);
	position: relative;
	background: radial-gradient(1000px at 50% -20%, rgba(31, 142, 250, 0.2) 0%, rgba(31, 142, 250, 0) 100%);
	margin-top: 0;
}
.list-title {
	line-height: 43px;
	font-size: 44px;
	text-align: center;
	color: #182848;
	padding: 50px 0;
}
.list:after {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	height: 715px;
	transform: rotate(180deg);
	opacity: 0.6;
}
.list .section-title {
	padding: 50px 0;
}
.list-container {
	position: relative;
	height: 840px;
	background: linear-gradient(0.11deg, #4B6CB7 -15.96%, #182848 90.81%);
	/*-webkit-clip-path: ellipse(1782px 630px at 50% 50%);*/
	/*clip-path: ellipse(1782px 630px at 50% 50%);*/
	-webkit-clip-path: ellipse(1782px 418px at 50% 50%);
	clip-path: ellipse(1782px 418px at 50% 50%);
	overflow: hidden;
}
.list-container:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	background: linear-gradient(359.82deg, #4B6CB7 0.24%, rgba(49, 73, 126, 0) 24.93%, rgba(37, 57, 100, 0) 58.23%, #182848 99.77%);
}
.list-container:after {
	left: 0;
}
.list-items {
	height: inherit;
}
.list-items .container {
	padding-top: 40px;
	padding-bottom: 30px;
	max-width: 1350px;
	transition: margin-top .6s linear;
}
.list-items img {
	display: block;
	width: 65px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
}
.list-items img:nth-child(16n) {
	margin-right: 0;
}



/*
 * sale
 */
.sale {
	padding-top: 50px;
	padding-bottom: 40px;
}
.sale .container {
	max-width: 960px;
}
.sale-title {
	line-height: 87px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	margin-bottom: 50px;
}
.sale-table {
	display: flex;
}
.sale-col {
	width: 100%;
}
.sale-col:first-child {
	max-width: 320px;
}
.sale-col-title {
	margin-bottom: 20px;
	line-height: 43px;
	font-size: 24px;
	color: #182848;
}
.sale-text {
	margin-bottom: 45px;
	line-height: 24px;
	font-size: 16px;
	color: #182848;
}

.sale-small {
	font-size: 12px;
	line-height: 15px;
	color: #182848;
	margin-top: 55px;
	margin-left: 250px;
}


.sale-text p + p {
	margin-top: 1em;
}
.sale-table .button {
	width: 235px;
	margin: 0 auto;
	display: block;
}
.sale-col:last-child {
	padding-left: 105px;
}
.button-disabled {
	background: #DADADA;
	border: 1px solid #7E7E7E;
}
.button-bounty {
    display: inline-block;
    text-align: center;
    line-height: 34px;
    font-family: "Roboto Ligth";
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    border-radius: 18px;
    background-color: #1d345d;
    border: 1px solid #182848;
    opacity: 1;
    cursor: pointer;
    padding: 0 10px 0 10px;
}


/*
 * media
 */
.media {
	padding-bottom: 35px;
}
.media .container {
	max-width: 1000px;
}
.media-title {
	line-height: 43px;
	font-size: 24px;
	text-align: center;
	color: #182848;
	padding: 30px 0;
}
.media-list {
	text-align: center;
}
.media-list a {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 55px;
}
.media-list a + a {
	margin-left: 40px;
}
.media-specific-image-1 {
	margin-top: 40px;
}



/*
 * subscribe
 */

.subscribe {
	overflow: hidden;
}
.subscribe .container {
	max-width: 660px;
	padding-left: 0;
	position: relative;
}
.subscribe .container:after {
	content: '';
	position: absolute;
	display: block;
	height: 1px;
	width: 100000px;
	
	bottom: 0;
	left: 0;
}
.subscribe-title {
	line-height: 43px;
	font-size: 24px;
	text-align: center;
	color: #182848;
}
.subscribe-form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 90px;
}
/* .subscribe-form * {
	width: 100%;
}
*/
.subscribe-form input[type="email"] {
	height: 50px;
	max-width: 405px;
	background: #FFFFFF;
	border: 1px solid #1F8EFA;
	box-sizing: border-box;
	border-radius: 2px;
	padding-left: 30px;
	font-family: inherit;
	font-size: 14px;
	color: #979797;
	margin-right: 30px;
}
.subscribe-form input[type="submit"] {
	height: 50px;
	max-width: 235px;
	background: #1F8EFA;
	border-radius: 2px;
	font-size: 14px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}
.subscribe .response {
	position: absolute;
	padding-top: 10px;
	font-size: 14px;
}



/*
 * token
 */
.token {
	padding-top: 50px;
}
.token-title {
	line-height: 67px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	padding: 30px 0;
}
.token-col {
	width: 520px;
	float: left;
	
}
.token-col:nth-child(2) {
	float: right;
}
.token-item {
	margin-bottom: 50px;
}
.token-item-parametrs {
	min-height: 600px;
}
.token-item-title {
	font-size: 30px;
	color: #182848;
	text-align: center;
	margin-bottom: 30px;
}
.token-progress {
	list-style: none;
	line-height: 28px;
	font-size: 18px;
	color: #000000;
	margin-top: 30px;
}
.token-progress li {
	margin-bottom: 35px;
}
.token-progress span {
	display: block;
}
.token-progress-bar {
	clear: both;
	background-color: #E7E7E7;
	height: 24px;
}
.token-progress-bar span {
	height: inherit;
	background-color: #40BEFE;
}
.token-list {
	list-style: none;
	margin-top: 65px;
}
.token-list li {
	margin-bottom: 1em;
}
.token-buttons {
	margin-top: 15px;
}
.token-buttons .button {
	display: block;
	width: 170px;
	margin: auto;
	margin-bottom: 30px;
}
.bg-documents {
	top: 0;
	right: 0;
}



/*
 * map
 */

.map {
	
	padding-bottom: 50px;
	
}
.map .container {

	max-width: 575px;
}
.map-title {
	padding-top: 70px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	margin-bottom: 50px;
}
.map-list {
	margin-bottom: 20px;
}
.map-item {
	display: flex;
	min-height: 150px;
}
.map-item:last-child {
	min-height: 0;
}
.map-item > * {
	width: 100%;
}
.map-date {
	text-align: right;
	min-width: 230px;
	padding-right: 90px;
	position: relative;
}
.map-description {
	position: relative;
	line-height: 23px;
	font-size: 14px;
	color: #182848;
	padding-left: 85px;
}
.map-description:before {
	content: '';
	position: absolute;
	top: 0;
	left: -15px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #ACACAC;
	box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 2;
}
.map-description:after {
	content: '';
	display: block;
	position: absolute;
	width: 9px;
	height: calc(100% - 18px);
	background-color: #E6E6E6;
	top: 24px;
	left: -7px;
	z-index: 1;
}
.map-item:last-child .map-description:after {
	background: linear-gradient( 360deg, rgba(230, 230, 230, 0) 0%, #E6E6E6 69.11%, #E6E6E6 69.72%);
}
.map-date:before,
.map-date:after {
	content: '';
	display: block;
	position: absolute;
	height: 9px;
	width: 70px;
	background: linear-gradient(90deg, #E7E7E7 50%, rgba(231, 231, 231, 0) 106.25%);
	top: 9px;
}
.map-date:before {
	right: -75px;
}
.map-date:after {
	right: 0;
	transform: rotate(180deg);
}
.map-item-active .map-description:before {
	background: #2BA1FD;
	box-shadow: 0 0 10px #14D2FC;
}
.map-item-active .map-date:before,
.map-item-active .map-date:after {
	background: linear-gradient(90deg, #14D2FC 50%, rgba(20, 210, 252, 0) 106.25%);
}
.map-item-active .map-description:after {
	background: linear-gradient( 360deg, rgba(230, 230, 230, 0) 0%, #14D1FB 69.11%, #14D1FB 69.72%);
}



/*
 * airdrop
 */
.airdrop {
	padding-bottom: 20px;
	padding-top: 50px;
}
.airdrop .container {
	max-width: 915px;
}
.airdrop-title {
	font-size: 48px;
	text-align: center;
	color: #182848;
	padding: 30px 0;
}
.section-subtitle {
	line-height: 37px;
	font-size: 24px;
	text-align: center;
	color: #182848;
	margin-bottom: 50px;
}
.airdrop-list {
	list-style: none;
	max-width: 675px;
	margin: 0 auto;
	width: 100%;
	display: block;
	counter-reset: airdrop;
}
.airdrop-list li {
	line-height: 62px;
	font-size: 24px;
	color: #182848;
	padding-left: 55px;
	position: relative;
	margin-bottom: 10px;
}
.airdrop-list li:after {
	counter-increment: airdrop;
	content: counter(airdrop);
	font-family: "NovaOval";
	font-size: 24px;
	color: #182848;
	position: absolute;
	top: 11px;
	left: 0;
	width: 37px;
	line-height: 27px;
	height: 37px;
	text-align: center;
	background: #FFFFFF;
	border: 5px solid #14D2FC;
	border-radius: 50%;
}
.airdrop-list li:before {
	content: '';
	position: absolute;
	top: 22px;
	width: 9px;
	background-color: #14D1FB;
	height: 100%;
	left: 14px;
}
.airdrop-list li:last-child:before {
	content: none;
}
.airdrop-button {
	margin-top: 50px;
	text-align: center;
}
.airdrop-button .button {
	width: 320px;
	height: 70px;
	border-radius: 35px;
	line-height: 66px;
	font-size: 36px;
	border: 2px solid #182848;
}
.airdrop-button span {
	display: block;
	line-height: 25px;
	font-size: 14px;
	color: #828282;
	margin-top: 22px;
}

.section-subtitle-text {
	font-size: 14px;
	color: #828282;
	text-align: center;
	margin-top: -50px;	
	padding-bottom: 50px;
}



/*
 * bounty
 */
.bounty {

}
.bounty-title {
	font-size: 48px;
	text-align: center;
	color: #182848;
	padding: 30px 0;
}
.bounty-subtitle {
	line-height: 37px;
	font-size: 24px;
	text-align: center;
	color: #182848;
	margin: 0 auto;
	max-width: 660px;
	margin-bottom: 80px;
}
.bounty-col {
	width: 50%;
	float: left;
}
.bounty-item {
	line-height: 37px;
	font-size: 24px;
	color: #000000;
	margin-bottom: 30px;
	position: relative;
}
.bounty-item img {
	position: absolute;
	top: 0;
}
.bounty-col:first-child .bounty-item img {
	margin-left: 100%;
	left: 10px;
}
.bounty-col:first-child .bounty-item.bounty-item-3 img {
	top: -12px;
}
.bounty-col:last-child .bounty-item.bounty-item-4 img {
	top: -22px;
}
.bounty-col:last-child .bounty-item.bounty-item-5 img {
	top: -15px;
	left: -19px;
}

.bounty-col:last-child .bounty-item img {
	left: -80px;
}
.bounty-col:first-child {
	text-align: right;
}
.bounty-col:first-child {
	padding-right: 95px;
}
.bounty-col:last-child {
	padding-left: 95px;
}
.bounty-button {
	text-align: center;
	margin-top: 30px;
}
.bounty-button .button {
	width: 320px;
	height: 70px;
	border-radius: 35px;
	line-height: 66px;
	font-size: 36px;
	border: 2px solid #182848;
}

.left-button {
	margin-left: 0;
	float: left;
}
















