@media screen and (max-width: 830px) {
    .flex-item {
      width: 320px;
      max-width: 100%;
    }
    .flex-container {
      width: 100%;
      justify-content: center;
    }
    .title-token {
      line-height: 67px;
    font-size: 48px;
    color: #182848;
    width: 100%;
    }
    .token-item {
      width: 100%;
    }
    .trading-banner {
      width: 85%;
      height: 63px;

    }
    .token-list {
      word-wrap: break-word;
    }
    .flex-item-column {
      /*display: block;*/
    }
    .col-item {
      flex-flow: column !important;
      justify-content: unset !important;
      align-items: unset !important;
      background-color: unset !important;
    }
    .col-item > .flex-item-col-item {
      padding-top: 20px;
    }
    .flex-item-body-row {
      flex-flow: column;
      word-wrap: break-word;
    }
    .flex-item-col-item {
      max-width: 100%;
    }
    .map-date {
      max-width: 50%;
      min-width: 50%;
      padding-right: 67px;
    }
    .map-date:after {
      right: -10px;
    }
    .map-date:before {
      right: -60px;
    }
    .map-description {
      padding-left: 64px;
    }
    .download-title {
      font-size: 30px;
      line-height: 40px;
      padding-top: unset;
      padding-bottom: unset;
    }
    .mobile-download-button {
      padding-top: unset !important;
      padding-bottom: unset !important;
    }
      .col-item-token:nth-child(2) {
    width: unset;
  }
  .col-item-token:nth-child(3) {
    width: 300px;
    padding-top: 20px;
  }
  }


@media screen and (max-width: 830px) {
    /* main */
    .main-notebook {
        display: none;
    }
    .main-notebook1 {
        display: none;
    }
    .main_icons {
        width: 100%;
    }
    .main-title-token {
        width: 100%;
    }
    .partners {
        width: auto;
        margin-top: 0px;
    }
    .main_icon_text {
    width: 220px;
    margin-right: 0;
    margin-left: 20px;
    }

    .main_icon_text_small {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
    }

    /* /main */




    /* list */
    .list {
        -webkit-clip-path: ellipse(1082px 462px at 50% 50%);
        clip-path: ellipse(1082px 462px at 50% 50%);
    }
    .list-container {
        -webkit-clip-path: ellipse(1082px 418px at 50% 50%);
        clip-path: ellipse(1082px 418px at 50% 50%);
    }
    .list-container:before {
        z-index: 12;
    }
    .list .section-title {
        padding: 30px 0;
    }
    .list-items {
        position: relative;
    }
    .list-items .container {
        width: 1340px;
        max-width: 1340px !important;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
    /* /list */

    /* sale */
    .sale {
        padding-bottom: 20px;
    }
    .sale-table {
        display: block;
    }
    .sale-col:last-child {
        padding-left: 0;
        margin-top: 105px;
    }
    .sale-table .button {
        width: 100%;
    }
    .sale-title {
    font-size: 48px;
    text-align: center;
    color: #182848;
    padding: 30px 0;
    }
    .sale-text {
        line-height: 17px;
        font-size: 11px;
        margin-bottom: 25px;
    }

.sale-small {
    font-size: 12px;
    line-height: 15px;
    color: #182848;
    margin-top: 75px;
    margin-left: 50px;
}



    /* /sale */
    /* video */
    .video-title {
    font-size: 48px;
    text-align: center;
    color: #182848;
    padding: 30px 0;
    }

    /* token */
    .token-col {
        width: 100%;
    }
    .token-item-parametrs {
        min-height: 200px;
    }

    /* map */
    .map .container {
    max-width: 100%;
    width: 400px;
    }
    .map-date {
        max-width: 180px;
        min-width: 100px;
    }


    /* media */
    .media-list-container {
        position: relative;
        height: 135px;
    }
    .media-list {
        position: absolute;
        width: 10000px;
        white-space: nowrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: inherit;
    }
    .media-list span {
        display: inline-block;
    }
    .media-list a {
        margin-bottom: 33px;
    }
    .media-list img {
        max-height: 45px;
    }
    .media-specific-image-1 {
        margin-top: 20px;
    }
    /* /media */
}