.only-mobile {
    display: none;
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
    .main-notebook {
    position: absolute;
    top: -90px;
    width: 710px;
    right: -40px;
    margin-top: 50px;
    }
       .main-notebook1 {
    position: absolute;
    top: -90px;
    width: 710px;
    margin-top: 50px;
    right: -350px;
    }


}
@media screen and (max-width: 830px) {
    body {
        min-width: inherit;
    }

    

    .container {
        width: 320px;
    }
    .only-mobile {
        display: block;
    }
    .mobile-hide {
        display: none;
    }

    /* icons */
    .icon {
        width: 46px;
        height: 46px;
    }
    .icon-star {
        background-size: 20px auto;
    }
    .icon-exchange {
        background-size: 19px auto;
    }
    .icon-migration {
        background-size: 18px auto;
    }
    .icon-secure {
        background-size: 15px auto;
    }
    .icon-partners {
        background-size: 22px auto;
    }
    .icon-comments {
        background-size: 27px auto;
    }
    .icon-mail {
        background-size: 19px auto;
    }
    /* /icons */

    /* bg */
    .bg-main {
        width: 1591px;
        right: -110px;
    }
    .bg-video {
        top: 70px;
        right: -280px;
        width: 550px;
    }
    .bg-features-1 {
        top: 120px;
        right: 0;
        width: 600px;
    }
    .bg-features-2 {
        top: 270px;
        right: -310px;
        width: 740px;
    }
    .bg-features-3 {
        top: 800px;
        right: -120px;
        width: 600px;
    }


    .bg-features-1-crypto {
        top: -210px;
        right: 0;
        width: 600px;
    }
    .bg-features-2-crypto {
        top: 30px;
        right: -310px;
        width: 760px;
        height: 1400px;
    }
    .bg-features-3-crypto {
        top: 450px;
        right: -120px;
        width: 600px;
    }
    .bg-footer {
        top: 0;
        left: -260px;
    }
    .bg-comments {
        left: 50px;
        top: -170px;
        width: 1348px;
    }

    /* /bg */

    /* header */
    .header-menu {
        display: none;
    }
    .header-menu-mobile {
        position: fixed;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #344e84;
        z-index: 111;
        padding-top: 50px;
    }
    .header-menu-close {
        display: none;
    }
    .header-menu-mobile a {
        display: block;
        font-size: 18px;
        margin-bottom: 30px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .header-menu-mobile a:hover {
        text-decoration: underline;
    }
    .header-menu-mobile-close {
        width: 40px;
        height: 40px;
        border: none;
        background: url(images/icons/close.svg) no-repeat center;
        cursor: pointer;
        position: absolute;
        top: -10px;
        right: 10px;
    }
    .header-logo {
        margin-left: 0px;
    }
    .header-logo img {
    display: block;
    width: 77px;
    margin-top: -10px;
    margin-left: 2px;
    }
    .header-button {
        position: absolute;
        top: 15px;
        right: 28px;
        width: 65px;
        height: 65px;
        background: url(images/icons/menu.svg) no-repeat center;
        cursor: pointer;
        border: none;
    }
    /* /header */

    /* main */
    .main {
        padding-bottom: 0;
        padding-top: 40px;
    }
    .main-mobile-title {
        line-height: 67px;
        font-size: 27px;
        text-align: center;
        color: #182848;
    }


    .main-notebook {
        position: relative;
        top: auto;
        right: auto;
        display: block;
        width: 100%;
    }
    .main-notebook1 {
        top: auto;
        right: auto;
        display: block;
        width: 100%;
    }
    .main-title {
        width: 260px;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 26px;
        font-size: 18px;
        text-align: center;
        color: #182848;
        margin-bottom: 20px;
    }
    /* /main */

    /* download */
    .download-title {
        font-size: 18px;
        text-align: center;
        color: #182848;
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .download {
        flex-wrap: wrap;
        height: auto;
        justify-content: baseline;
    }

    .download-text {
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    color: #121010;
    padding-bottom: 60px;

}
   .download-text-app {
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    color: #121010;
    padding-bottom: 60px;

}
    .download-item {
        width: 50%;
        height: 137px;
    }
    .mobile_interface {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    width: 100%;
    margin-left: 0px;
    }
    .download-item:after {
        content: none;
    }
    /* /download */

    /* video */
    .video .container {
        height: 270px;
        padding-top: 50px;
    }

    .video-container{
    width: 380px;
    margin-left: -40px;

    }
    .video-text {
    padding-left: 10px;
    text-align: center;
    }
    .buy-crypto-cards {
        width: auto;
    }
    .buy {
    flex-wrap: wrap;
    height: 455px;
    width: auto;
    }
    .button-cards {
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding-bottom: 20px;
    }
    /* /video */

    /* list */
    .list {
        margin-top: 100px;
        padding-bottom: 0;
    }
    .list-title-container .icon {
        float: none;
    }
    .list-title {
        line-height: 30px;
        font-size: 14px;
        margin-top: 20px;
    }
    .list-items {
        margin-left: 0;
        margin-top: 5px;
    }
    .list-item {
        width: 32%;
        padding-top: 25px;
        margin-bottom: 0;
        margin-top: 30px;
    }
    .list-items-all:not(.list-items-hide) {
        display: inline;
    }
    .list-item img {
        width: 36px;
    }
    .list-item-name {
        font-size: 14px;
    }
    /* /list */

    /* features */
    .features {
        padding-top: 60px;
    }
    .features-subtitle {
        line-height: 27px;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .features-item {
        padding-top: 0px;
        margin-top: 60px;
        margin-left: 0;
        width: 250px;

    }
    .features-title {
    line-height: 67px;
    font-size: 48px;
    text-align: center;
    color: #182848;
    margin-top: 50px;
    }
        .features-title-app {
    line-height: 67px;
    font-size: 48px;
    text-align: center;
    color: #182848;
    margin-top: 150px;
    }
    .features-text {
        line-height: 18px;
        font-size: 14px;
        width: 250px;
    }
    .features-item:nth-child(2) {
        margin-top: 80px;
        width: 260px;
    }
    .features-item:nth-child(3) {
        padding-top: 220px;
    }

    .features-item-right {
    float: right;
    padding-top: 70px;
    }

    .features-item-left {
        padding-top: 110px !important;
    }
    /* /features */

    /* partners */

    .partners {
    width: auto;
    margin-top: 520px;
    }
    .partners-list,
    .investors {
        margin-top: 45px;
        width: 100%;
        padding-bottom: 0;
        border: none;
        padding-left: 0px
    }
    .partners_special {

        width: 500%;
        margin-left: 0px;
        padding-left: 0px;

    }
    .partners-list a,
    .investors a {
        width: 90%;
        
        padding-top: 20px
        vertical-align: middle;
        text-align: center;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    .partners-list img,
    .investors img {
        display: inline-block;
        max-width: 60%;
        max-height: 140px;
        vertical-align: middle;
    }
    .partners-list a + a,
    .investors a + a {
        padding-left: 0;
    }
    /* /partners */

    /* comments */
    .comments-title {
        font-size: 16px;
    }
    .comments-arrow {
        width: 24px;
        height: 24px;
        top: 20px;
        background-size: 13px;
    }
    .comments-arrow-left {
        right: 60px;
    }
    .comments-item {
        width: 260px;
        height: 160px;
        padding: 60px 30px 0 30px;
    }
    .comments-item + .comments-item {
        margin-left: 28px;
    }
    .comments-item img {
        display: inline-block;
        width: 40px;
    }
    .comments-image {
        top: 22px;
    }
    .comments-text {
        margin-top: 17px;
        line-height: 22px;
        font-size: 12px;
        height: 67px;
        overflow: hidden;
    }
    .comments-slider {
        height: 185px;
    }
    .comments-item .button {
        width: 160px;
        bottom: 15px;
        font-size: 14px;
        line-height: 30px;
    }
    .team .comments-slider {
        height: 420px;
    }
    .team .comments-item {
        height: 390px;
    }
    .team-author {
        margin-bottom: 10px;
    }
    .team-author-name {
        font-size: 14px;
    }
    .team-text {
        line-height: 20px;
        font-size: 12px;
    }
    .team-social {
        height: 70px;
        padding-top: 22px;
    }
    .team-social img {
        width: 25px;
    }
    .team-social a + a {
        margin-left: 40px;
    }
    /* /comments */

    /* subscribe */
    .subscribe {
        margin-top: 40px;
    }

    .subscribe .container {
        padding-left: 0;
    }
    .subscribe .icon-mail {
        position: relative;
        margin-bottom: 20px;
    }
    .subscribe-top {
        margin-top: 40px;
    }
    
    .subscribe-top .container {
        padding-left: 35px;
        padding-top: 0px;

    }
    .subscribe-top .icon-mail {
        position: relative;
        margin-bottom: 20px;
    }
    .subscribe-title {
        line-height: 25px;
        font-size: 12px;
    }
    .subscribe-title-top,
    .kol-form-title {
    line-height: 25px;
    font-size: 15px;
    /* margin-left: 50px; */
    }
    .subscribe .kol-form-title {
        width: 320px;
    }
    .subscribe .kol-form-title,
    .subscribe-mobile .kol-form-title {
    line-height: 25px;
    font-size: 18px;
    /* margin-left: 30px; */
    }
    .subscribe-mobile .kol-form-title {
        text-align: left;
        margin-left: -30px;
    }
    .subscribe-form {
        width: 100%;
        text-align: center;
    }
    .subscribe-form-top {
        width: 100%;
        text-align: center;
    }
    .kol-form-group {
        width: 100%;
    }
    #kol_embed_container_229607 {
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}
    .subscribe-mobile .container {
        padding-left: 40px;
    }
    .subscribe-mobile .form-group {
        margin-left: 0px;
    }
    
    .subscribe .kol-form-button-group {
    position: relative;
    top: auto;
    margin-top: 20px;
    width: 228px;
    margin-left: 1px;
    right: -60px;
    }
    .subscribe-mobile .kol-form-button-group {
    position: relative;
    top: auto;
    margin-top: 20px;
    width: 228px;
    margin-left: 1px;
    right: 0px;
    }
    
    .subscribe-top .kol-form-button-group {
    position: relative;
    top: auto;
    margin-top: 20px;
    width: 228px;
    margin-left: 8px;
    right: 0;
    }
    .kol-form-button {
        width: 230px;
    }
    .mc-field-group input[type="email"] {
        width: 100%;
    }
    .mc-field-group button,
    .mc-field-group input[type="submit"] {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 20px;
    }
     .mc-field-group-top button,
    .mc-field-group-top input[type="submit"] {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px;
    width: 228px;
    margin-left: 1px;
    }
    #mc_embed_signup div.mce_inline_error {
        width: 100% !important;
        margin-top: -98px !important;
    }

    /* /subscribe */

    

    /* new footer */
    .footer-new {
        padding-bottom: 30px;
        text-align: center;
    }
    .footer-new-left {
        min-width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .footer-row {
        display: block;
    }
    .footer-new-cols {
        display: block;
    }
    .footer-new-col {
        padding-top: 20px;
    }
    .footer-new-email {
        font-size: 20px;
    }
    /* /new footer */
}
