.section-title {
    line-height: 43px;
    font-size: 24px;
    text-align: center;
    color: #182848;
    padding: 30px 0;
}
.section-subtitle {
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    color: #182848;
    margin-bottom: 30px;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.social {
    padding-bottom: 40px;
    position: relative;
}
.social-list {
    text-align: center;
}
.social-list-absolute {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    display: none;
}
.social-list-absolute a {
    margin-bottom: 20px;
}
.social-list-absolute img {
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(31, 142, 250, 0.4);
}
.social-list a {
    display: inline-block;
}
.social-list a + a {
    margin-left: 33px;
}
.social-list img {
    width: 50px;
}
.social-other-list {
    display: none;
}
.social-list-button {
    cursor: pointer;
}
.social-list-button-close {
    display: none;
    box-shadow: 0 5px 10px rgba(31, 142, 250, 0.4);
    border-radius: 50%;
}
.social-other-list:checked + div .social-list-button-more {
    display: none;
}
.social-other-list:checked + div .social-list-button-close {
    display: block;
}
.social-other-list:checked ~ div .social-list-absolute {
    display: block;
}



.token .container {
    max-width: 1000px;
    padding-bottom: 50px;
}
.token-row {
    display: flex;
    margin-bottom: 20px;
}
.token-col {
    padding-right: 20px;
    width: 33.3333%;
}
.token-item-caption {
    line-height: 29px;
    font-size: 16px;
    color: #182848;
    border-bottom: 1px solid #1F8EFA;
    margin-bottom: 30px;
}
.token-item-caption-nomargin {
    margin-bottom: 0;
}
.token-table-row {
    display: flex;
}
.token-table-row + .token-table-row {
    margin-top: 20px;
}
.token-table-col:first-child {
    color: #828282;
}
.token-table-3 .token-table-col {
    width: 33.3333%;
}
.token-table-col {
    font-size: 14px;
    color: #1F8EFA;
    width: 100%;
    white-space: nowrap;
}
.token-table-th {
    background: rgba(229, 229, 229, 0.4);
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.token-table-button {
    display: block;
    margin: 0 auto 10px auto;
    width: 125px;
    background: rgba(31, 142, 250, 0.1);
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #1F8EFA;
    text-decoration: none;
}
.token-container-6 {
    max-width: 490px;
    width: 100%;
    margin: 0 auto;
}
.token-container-6 .token-table-button {
    width: 100%;
}



.airdrop {
    padding-bottom: 20px;
}
.airdrop .container {
    max-width: 915px;
}
.airdrop-table {
    display: flex;
}
.airdrop-table-col {
    width: 100%;
}
.airdrop-table-col:first-child {
    max-width: 320px;
}
.airdrop-table-text {
    line-height: 30px;
    font-size: 16px;
    color: #828282;
    margin-bottom: 65px;
}
.airdrop-table .button {
    width: 235px;
}
.airdrop-table-col:last-child {
    padding-left: 105px;
}
.airdrop-list {
    list-style: none;
    margin-bottom: 30px;
    counter-reset: airdroplist;
}
.airdrop-list li {
    display: block;
    position: relative;
    background: rgba(31, 142, 250, 0.1);
    border-radius: 6px;
    line-height: 20px;
    font-size: 14px;
    color: #182848;
    padding: 10px 20px;
    margin-bottom: 13px;
}
.airdrop-list li:before {
    display: block;
    position: absolute;
    counter-increment: airdroplist;
    content: counter(airdroplist);
    background: rgba(31, 142, 250, 0.05);
    border: 1px solid #1F8EFA;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 14px;
    color: #1F8EFA;
    line-height: 26px;
    text-align: center;
    top: 6px;
    left: -45px;
}
.airdrop-list li:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: calc(100% - 11px);
    background-color: #1F8EFA;
    top: 31px;
    left: -33px;
}
.airdrop-list li:last-child:after {
    content: none;
}
.airdrop-list-description {
    line-height: 25px;
    font-size: 14px;
    color: #828282;
    margin-top: 25px;
}



.bounty {
    padding-bottom: 20px;
}
.bounty .container {
    max-width: 451px;
}
.bounty-list {
    list-style: none;
    counter-reset: bountylist;
}
.bounty-list li {
    padding-left: 46px;
    padding-bottom: 16px;
    position: relative;
}
.bounty-list li:before {
    display: block;
    position: absolute;
    counter-increment: bountylist;
    content: counter(bountylist);
    background: rgba(31, 142, 250, 0.05);
    border: 1px solid #1F8EFA;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 14px;
    color: #1F8EFA;
    line-height: 26px;
    text-align: center;
    top: 6px;
    left: -45px;
}
.bounty-list li:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: calc(100% - 25px);
    background-color: #1F8EFA;
    top: 31px;
    left: -33px;
}
.bounty-list li:last-child:after {
    content: none;
}
.bounty-list li > * + * {
    margin-top: 13px;
}
.bounty-list-item {
    background: rgba(31, 142, 250, 0.1);
    border-radius: 6px;
    line-height: 20px;
    font-size: 14px;
    color: #182848;
    padding: 10px 20px;
}
.bounty-list .button {
    width: 170px;
}
.bounty-list p {
    font-size: 14px;
    color: #182848;
    padding: 0 20px;
}
.bounty-list-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.bounty-list-buttons .button {
    width: 120px;
}



.product {
    padding-bottom: 70px;
}
.product .container {
    max-width: 740px;
}
.product-list {
    margin-bottom: 40px;
}
.product-item {
    display: flex;
}
.product-item > * {
    width: 100%;
}
.product-item + .product-item {
    margin-top: 10px;
}
.product-item-title {
    position: relative;
    background: rgba(31, 142, 250, 0.1);
    border-radius: 6px;
    line-height: 20px;
    font-size: 14px;
    color: #182848;
    padding: 10px 20px;
    min-width: 490px;
}
.product-item-title:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -46px;
    width: 26px;
    height: 26px;
    border: 1px solid #1F8EFA;
    border-radius: 50%;
    background: rgba(31, 142, 250, 0.1) url(img/ok.svg) no-repeat center;
    background-size: 12px 7px;
}
.product-item-desc {
    text-align: center;
    font-size: 14px;
    color: #1F8EFA;
    line-height: 20px;
    padding: 10px 20px;
}
.product-item-desc a {
    text-decoration: underline;
    color: inherit;
}
.product-button-container {
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}
.product-button-col {
    width: 50%;
}
.product-button {
    display: block;
    width: 100%;
    background: linear-gradient(180deg, #80C1FF 0%, #1E90FF 100%);
    border-radius: 6px 0 0 6px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.product-button-list {
    border-radius: 0 6px 6px 0;
    background-color: #E9F4FF;
    position: absolute;
    z-index: 999;
    width: 180px;
}
.product-button-list:after,
.product-button-list:before {
    content: '';
    position: absolute;
    pointer-events: none;
    display: block;
    width: 13px;
    height: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/arrow-down.svg);
    top: 13px;
    right: 22px;
}
.product-button-list:after {
    content: none;
    background-image: url(img/arrow-up.svg);
}
.product-button-list-helper {
    max-height: 40px;
}
.product-button-list-item {
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #1F8EFA;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 17px auto;
    background-position: 20px center;
    padding-left: 20px;
    display: none;
}
.product-button-list-item:first-child {
    display: block;
}
.product-button-list-item-disabled {
    opacity: .32;
    cursor: default;
}
.product-button-list-mac {
    background-image: url(img/download-apple.svg);
}
.product-button-list-win {
    background-image: url(img/download-windows.svg);
}
.product-button-list-ubuntu {
    background-image: url(img/download-ubuntu.svg);
}
.product-button-list-fedora {
    background-image: url(img/download-fedora.svg);
}
.product-button-list-debian {
    background-image: url(img/download-debian.svg);
}
.product-button-list-android {
    background-image: url(img/download-android.svg);
}
.product-button-list-plugin {
    background-image: url(img/download-plugin.svg);
}
.product-button-list-web {
    background-image: url(img/download-web.svg);
}
.product-button-checkbox {
    display: none;
}
.product-button-checkbox:checked + div .product-button-list-item {
    display: block;
}
.product-button-checkbox:checked + div .product-button-list {
    box-shadow: 0 2px 4px rgba(31, 142, 250, 0.2);
}
.product-button-checkbox:checked + div .product-button-list:after {
    content: '';
}
.product-button-checkbox:checked + div .product-button-list:before {
    content: none;
}



.list {
    /*-webkit-clip-path: ellipse(1782px 706px at 50% 50%);*/
    /*clip-path: ellipse(1782px 706px at 50% 50%);*/
    -webkit-clip-path: ellipse(1782px 486px at 50% 50%);
    clip-path: ellipse(1782px 486px at 50% 50%);
    position: relative;
    background: radial-gradient(1000px at 50% -20%, rgba(31, 142, 250, 0.2) 0%, rgba(31, 142, 250, 0) 100%);

}
.list:after {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: 715px;
    transform: rotate(180deg);
    opacity: 0.6;
}
.list .section-title {
    padding: 50px 0;
}
.list-container {
    position: relative;
    height: 840px;
    background: linear-gradient(0.11deg, #4B6CB7 -15.96%, #182848 90.81%);
    /*-webkit-clip-path: ellipse(1782px 630px at 50% 50%);*/
    /*clip-path: ellipse(1782px 630px at 50% 50%);*/
    -webkit-clip-path: ellipse(1782px 418px at 50% 50%);
    clip-path: ellipse(1782px 418px at 50% 50%);
    overflow: hidden;
}
.list-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(359.82deg, #4B6CB7 0.24%, rgba(49, 73, 126, 0) 24.93%, rgba(37, 57, 100, 0) 58.23%, #182848 99.77%);
}
.list-container:after {
    left: 0;
}
.list-items {
    height: inherit;
}
.list-items .container {
    padding-top: 40px;
    padding-bottom: 30px;

    transition: margin-top .6s linear;
}
.list-items img {
    display: block;
    width: 65px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}
.list-items img:nth-child(16n) {
    margin-right: 0;
}



.map {
    padding-bottom: 105px;
    background: radial-gradient(1045.00px at 50% 100%, rgba(31, 142, 250, 0.2) 0%, rgba(31, 142, 250, 0) 100%);
    -webkit-clip-path: ellipse(1782px 706px at 50% 40%);
    clip-path: ellipse(1782px 706px at 50% 40%);
}
.map .container {
    max-width: 575px;
}
.map-list {
    margin-bottom: 20px;
}
.map-item {
    display: flex;
    min-height: 150px;
}
.map-item:last-child {
    min-height: 0;
}
.map-item > * {
    width: 100%;
}
.map-date {
    text-align: right;
    min-width: 230px;
    padding-right: 60px;
}
.map-description {
    position: relative;
    line-height: 23px;
    font-size: 14px;
    color: #182848;
    padding-left: 55px;
}
.map-description:before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 26px;
    height: 26px;
    border: 1px solid #1F8EFA;
    border-radius: 50%;
    background: rgba(31, 142, 250, 0.4);
}
.map-description:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: calc(100% - 28px);
    background-color: #1F8EFA;
    top: 28px;
    left: -1px;
}
.map-item:last-child .map-description:after {
    content: none;
}



.sale {
    padding-bottom: 40px;
}
.sale .container {
    max-width: 1000px;
}
.sale-table {
    display: flex;
}
.sale-col {
    width: 100%;
}
.sale-col:first-child {
    max-width: 320px;
}
.sale-title {
    line-height: 29px;
    font-size: 16px;
    color: #1F8EFA;
    margin-bottom: 20px;
}
.sale-text {
    margin-bottom: 45px;
    line-height: 24px;
    font-size: 16px;
    color: #182848;
}
.sale-text p + p {
    margin-top: 1em;
}
.sale-table .button {
    width: 320px;
}
.sale-col:last-child {
    padding-left: 105px;
}



.media {
    padding-bottom: 35px;
}
.media .container {
    max-width: 1000px;
}
.media-list {
    text-align: center;
}
.media-list a {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 55px;
}
.media-list a + a {
    margin-left: 40px;
}
.media-specific-image-1 {
    margin-top: 40px;
}



.subscribe {
    padding-top: 50px;
    padding-bottom: 110px;
    background: radial-gradient(1092px at 50.05% 100.42%, rgba(31, 142, 250, 0.2) 0%, rgba(31, 142, 250, 0) 100%);
    -webkit-clip-path: ellipse(1782px 630px at 50% 205%);
    clip-path: ellipse(1782px 630px at 50% 205%);
    overflow: hidden;
}
.subscribe .container {
    max-width: 660px;
}
.subscribe-form {
    display: flex;
    justify-content: space-between;
}
.subscribe-form * {
    width: 100%;
}
.subscribe-form input[type="email"] {
    height: 50px;
    max-width: 405px;
    background: #FFFFFF;
    border: 1px solid #1F8EFA;
    box-sizing: border-box;
    border-radius: 2px;
    padding-left: 30px;
    font-family: inherit;
    font-size: 14px;
    color: #979797;
}
.subscribe-form input[type="submit"] {
    height: 50px;
    max-width: 235px;
    background: #1F8EFA;
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.subscribe .response {
    position: absolute;
    padding-top: 10px;
    font-size: 14px;
}


