@media screen and (max-width: 700px) {
    html {
        min-width: 320px;
    }

    section {
        overflow-x: hidden;
    }

    .container {
        max-width: 288px !important;
    }

    .section-title {
        padding: 20px 0;
        font-size: 16px;
        line-height: 29px;
    }
    .section-subtitle {
        line-height: 21px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .button {
        font-size: 12px;
    }

    .helper-clip-main {
        -webkit-clip-path: circle(1800px at 50% -806px);
        clip-path: circle(1800px at 50% -806px);
    }

    .header-menu {
        display: none;
    }
    .header-logo img {
        width: 45px;
    }
    .header-menu-button {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        width: 38px;
        height: 38px;
        background: url(img/menu.svg) no-repeat center;
        background-size: 100%;
        cursor: pointer;
        border: none;
    }
    .header-menu-button-close {
        background-image: url(img/menu-close.svg);
        background-size: 80%;
    }
    .header-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        z-index: 33333333;
        background: radial-gradient(540.41px at -36.25% 111.25%, #4B6CB7 0%, #182848 100%);
        text-align: center;
        padding: 50px 0 30px 0;
        overflow-y: auto;
        border-radius: 0 0 6px 6px;
        box-shadow: 0px 40px 100px #182848;
    }
    .header-menu-open {
        display: block;
    }
    .header-menu a {
        display: block;
        width: 250px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .main {
        height: auto;
        -webkit-clip-path: circle(1800px at 50% -946px);
        clip-path: circle(1800px at 50% -946px);
        padding-bottom: 48px;
    }
    .main-title {
        margin-left: 0;
        margin-top: 0;
        line-height: 28px;
        font-size: 20px;
        padding-left: 58px;
        margin-bottom: 20px;
    }
    .main-title:before {
        top: 0;
        transform: none;
        width: 40px;
        height: 40px;
    }
    .main-table {
        width: 100%;
    }
    .main-table:not(.main-table-buttons) {
        display: block;
    }
    .main-table:not(.main-table-buttons) .main-table-col:nth-child(1),
    .main-table:not(.main-table-buttons) .main-table-col:nth-child(2) {
        max-width: 100%;
        margin-right: 0;
        padding-right: 0;
    }
    .main-table:not(.main-table-buttons) .main-table-col:nth-child(2) {
        margin-top: 20px;
    }
    .main-table-list li {
        margin-bottom: 12px;
    }
    .main-table-caption {
        line-height: 17px;
        font-size: 12px;
        margin-bottom: 10px;
        min-height: 0;
    }
    .main-table-item {
        font-size: 11px;
        padding: 10px;
        line-height: 14px;
    }
    .main-table-item:before {
        content: none !important;
    }
    .main-table-list a {
        width: 135px;
        font-size: 12px;
        padding: 0;
        line-height: 48px;
    }
    .main-table-buttons {
        margin-top: 10px;
    }
    .main-table-button {
        width: 100%;
        font-size: 14px;
    }
    .main-images {
        display: none;
    }



    .social-list img {
        width: 42px;
    }
    .social-list a + a {
        margin-left: 20px;
    }



    .token .container {
        padding-bottom: 30px;
    }
    .token-row {
        display: block;
    }
    .token-col {
        width: 100%;
        max-width: 236px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding-right: 0;
    }
    .token-item-caption {
        line-height: 40px;
        font-size: 14px;
    }
    .token-table-col {
        font-size: 11px;
    }
    .token-container-6 .token-table-button {
        max-width: 150px;
        margin: 0 auto;
    }
    .token-container-6 .token-col {
        margin-bottom: 12px;
    }
    .token-table-button {
        font-size: 12px;
    }



    .airdrop-table {
        display: block;
    }
    .airdrop-table-text {
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .airdrop-table .button {
        margin: 0 auto;
        display: block;
    }
    .airdrop-table-col:last-child {
        margin-top: 30px;
        padding-left: 0;
    }
    .airdrop-list li {
        line-height: 15px;
        font-size: 11px;
        padding: 5px 10px;
        min-height: 40px;
    }
    .airdrop-list {
        padding-left: 40px;
    }
    .airdrop-list li.airdrop-list-helper-mobile {
        line-height: 30px;
    }
    .airdrop-list-description {
        line-height: 18px;
        font-size: 14px;
        text-align: center;
    }



    .bounty {
        padding-bottom: 0;
    }
    .bounty-list li:before {
        left: 0;
    }
    .bounty-list li:after {
        left: 13px;
    }
    .bounty-list-item {
        line-height: 15px;
        font-size: 11px;
        padding: 5px 10px;
        min-height: 40px;
    }
    .bounty-list-item-helper-mobile {
        line-height: 30px;
    }
    .bounty-list p {
        line-height: 15px;
        font-size: 11px;
        padding: 0 10px;
    }
    .bounty-list-buttons {
        margin-left: -46px;
        width: 288px;
    }
    .bounty-list-buttons .button {
        width: 90px;
    }



    .product-item {
        display: block;
    }
    .product-item-title {
        min-width: 0;
        line-height: 15px;
        font-size: 11px;
        text-align: center;
        width: 250px;
        margin-left: 38px;
    }
    .product-item-desc {
        line-height: 20px;
        font-size: 11px;
        width: 250px;
        margin-left: 38px;
        padding-bottom: 0;
    }
    .product-item-desc:empty {
        padding: 0;
    }
    .product-button-container {
        max-width: 288px;
    }
    .product-button-list {
        width: 144px;
    }
    .product-button,
    .product-button-list-item {
        font-size: 14px;
    }
    .product-button-list:after,
    .product-button-list:before {
        right: 16px;
    }




    .list {
        -webkit-clip-path: ellipse(1082px 462px at 50% 50%);
        clip-path: ellipse(1082px 462px at 50% 50%);
    }
    .list-container {
        -webkit-clip-path: ellipse(1082px 418px at 50% 50%);
        clip-path: ellipse(1082px 418px at 50% 50%);
    }
    .list-container:before {
        z-index: 12;
    }
    .list .section-title {
        padding: 30px 0;
    }
    .list-items {
        position: relative;
    }
    .list-items .container {
        width: 1340px;
        max-width: 1340px !important;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }



    .map {
        padding-bottom: 45px;
        -webkit-clip-path: ellipse(1782px 676px at 50% 40%);
        clip-path: ellipse(1782px 676px at 50% 40%);
    }
    .map-date {
        min-width: 50%;
        line-height: 18px;
        font-size: 11px;
        padding-right: 30px;
    }
    .map-description {
        min-width: 50%;
        line-height: 18px;
        font-size: 11px;
        padding-left: 30px;
        padding-bottom: 25px;
    }



    .sale {
        padding-bottom: 20px;
    }
    .sale-table {
        display: block;
    }
    .sale-col:last-child {
        padding-left: 0;
        margin-top: 25px;
    }
    .sale-table .button {
        width: 100%;
    }
    .sale-title {
        line-height: 25px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .sale-text {
        line-height: 17px;
        font-size: 11px;
        margin-bottom: 25px;
    }




    .media-list-container {
        position: relative;
        height: 135px;
    }
    .media-list {
        position: absolute;
        width: 10000px;
        white-space: nowrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: inherit;
    }
    .media-list span {
        display: inline-block;
    }
    .media-list a {
        margin-bottom: 33px;
    }
    .media-list img {
        max-height: 45px;
    }
    .media-specific-image-1 {
        margin-top: 20px;
    }



    .subscribe {
        -webkit-clip-path: ellipse(1782px 700px at 50% 205%);
        clip-path: ellipse(1782px 700px at 50% 205%);
    }
    .subscribe-form {
        display: block;
    }
    .subscribe-form input[type="submit"] {
        display: block;
        margin: 17px auto 0 auto;
    }
    .subscribe .response {
        text-align: center;
        left: 0;
        right: 0;
    }



    .footer {
        padding: 30px 0;
        background: radial-gradient(540.41px at -36.25% 111.25%, #4B6CB7 0%, #182848 100%);
    }
    .footer .container {
        display: block;
    }
    .footer .container > * {
        width: 100%;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-logo img {
        width: 45px;
        margin-bottom: 30px;
    }
    .footer-soc-list {
        margin: 0 auto;
        width: 254px;
    }
    .footer-soc-list a {
        margin-bottom: 15px;
    }
    .footer-soc-list a:nth-child(5n) {
        margin-right: 0;
    }
    .footer-email {
        position: absolute;
        bottom: 25px;
        right: 20px;
    }
}